.inputBar {
    color: aqua;
}

.title {
    font-size: 2rem;
}

.iconLogo {
    font-size: 5rem;
    min-width: 10rem;
    min-height: 10rem;
}

.buttonInput {
    min-width: 1rem;
}

#title {
    font-size: large;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

#detail {
    font-size: medium;
    margin-bottom: 1rem;
}