#mainBox{
  background-color: beige;
}

.inputBar {
    /* color: aqua; */
    margin: 1rem;
    border: solid 1px;
    border-color: darkslategrey;
    border-radius: 10px;
    font-size: 2rem;
    color: grey;
}
#inp {
    margin-bottom: 5px;
    margin-top: 5px;

}
.title {
    font-size: 2rem;
}

.iconLogo {
    font-size: 5rem;
    min-width: 10rem;
    min-height: 10rem;
}

.buttonInput {
    min-width: 1rem;
    border-color: dimgray;
    border-radius: 16px;
    background-color: antiquewhite;
}

.swin {
  padding: 30px;
}

.data-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 2px;
  background-color: blanchedalmond;
  border-radius: 6px;
}

.data {
  font-size: 16px;
  font-weight: bold;
}